<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="webjars/Semantic-UI/2.4.1/semantic.min.css">
  <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
  <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
  <title>Title</title>
</head>
<body>

<a href="/login">Login with Google</a>



<button class="ui primary button">
  Save
</button>
<button class="ui button">
  Discard
</button>

</body>
</html>